# pixi environments
.pixi/*
!.pixi/config.toml

3rd
.gitattributes

__pycache__
acca/demo*
acca/results
acca/output*
acca/tmp*
acca/logs
acca/5min_freq_images

acca/p2pnet/network/*.pth
*.pth

videos
images
outputs*